/* Base ---------------------------------------------------- */
body {
    font-family: 'Roboto', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: $primary;
}
a {
    text-decoration: none;
    transition: all 0.3s ease-in;
    color: white;
    &:hover {
        color: darken(white, 10%);
    }
}

.h2 {
    font-size: 4rem; //64
    line-height: 1.5;
    font-weight: 700;
    @include pad {
        font-size: 3rem; // 48
    }
    @include mobile {
        font-size: 2rem; // 32
    }
}
.h3 {
    font-size: 3rem; //48
    line-height: 1.5;
    font-weight: 700;
    @include pad {
        font-size: 2rem; // 32
    }
    @include mobile {
        font-size: 1.5rem; // 24
    }
}
.h4 {
    font-size: 3rem; //48
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 2.5rem; // 40
    @include pad {
        font-size: 2rem; // 32
        margin-bottom: 2rem; // 32
    }
    @include mobile {
        font-size: 1.25rem; // 20
        line-height: 2.4; // 48
        margin-bottom: 1.25rem; // 20
    }
}
.h4-margin-sm {
    margin-bottom: 1.5rem; // 24
    @include pad {
        margin-bottom: 1.5rem; // 24
    }
    @include mobile {
        margin-bottom: 1.25rem; // 20
    }
}
.h5 {
    font-size: 1.5rem; //24
    line-height: 1.5;
    font-weight: 700;
}
