// Container
.container {
    width: 69.375rem; // 1110
    padding: 0;
    margin: 0 auto;

    @include pad {
        width: 100%;
        padding: 0 2.5rem; // 40
    }

    @include mobile {
        padding: 0 1rem; // 16
    }
}
.container-sm {
	width: 45.625rem; //730 
	margin: 0 auto;
	@include pad {
        width: 65.4%;
	}
	@include mobile {
        width: 100%; //450 
    }
}
.container-padding {
    padding-top: 3.75rem;
    padding-bottom: 5rem;
    @include pad {
        padding-top: 2.5rem; // 40
        padding-bottom: 3.5rem; // 56
    }

    @include mobile {
        padding-top: 2rem; // 32
        padding-bottom: 2.5rem; // 50
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

// Grid
.col-3 {
    // 100% - gutter - padding left & right
    width: calc((100% - 30px * 3 + 15px * 2) / 4);
    padding: 0 15px;
}
.col-4 {
    width: calc((100% - 30px * 2 + 15px * 2) / 3);
    padding: 0 15px;
}
.col-6 {
    width: calc((100% - 30px * 1 + 15px * 2) / 2);
    padding: 0 15px;
}
.col-md-6 {
    @include pad {
        width: calc((100% - 30px + 15px *2) / 2 );
        padding: 0 15px;
    }
}
.col-sm-12 {
    @include mobile {
        width: 100%;
    }
}