/* Spaceing ------------------------*/
// Margin & Padding
@each $key, $value in $spacers {
  .mt-#{$key} {
    margin-top: $value;
  }
  .mb-#{$key} {
    margin-bottom: $value;
  }
  .ml-#{$key} {
    margin-left: $value;
  }
  .mr-#{$key} {
    margin-right: $value;
  }
  .pt-#{$key} {
    padding-top: $value;
  }
  .pb-#{$key} {
    padding-bottom: $value;
  }
  .pl-#{$key} {
    padding-left: $value;
  }
  .pr-#{$key} {
    padding-right: $value;
  }
  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }
}

// Display
.d-flex {
    display: flex;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}

// Flexbox
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-center {
    align-items: center;
}
.align-content-between {
	align-content: space-between;
}
.fd-column {
    flex-direction: column;
}
.fw-wrap {
   flex-wrap: wrap; 
}

// Text Setting
.text {
  &-white {
    color: white;
  }
  &-primary {
    color: $primary;
  }
  &-secondary {
    color: $secondary;
  }
  &-info {
    color: $info;
  }
  &-black {
    color: $black;
  }
  &-gray-100 {
	  color :$gray-100;
  }
  &-gray-200 {
	  color :$gray-200;
  }
  &-gray-300 {
	  color :$gray-300;
  }
  &-gray-400 {
	  color :$gray-400;
  }
  &-gray-500 {
	  color :$gray-500;
  }
  &-gray-600 {
	  color :$gray-600;
	}
  &-muted {
    opacity: 20%;
  }
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-italic {
    font-style: italic;
  }
  &-justify {
    text-align: justify;
  }
  &-uppercase {
	text-transform: uppercase;
  }
}

// Font Size
@each $key, $value in $font-sizes {
    .fs-#{ $key } {
        font-size: $value;
    }
}

//　Font Weight
.fw-medium {
    font-weight: 500;
}
.fw-bold {
    font-weight: 700;
}
.fw-black {
    font-weight: 900;
}

// Line Height
.lh-sm {
    line-height: 1; 
}
.lh-md {
    line-height: 1.5;
}
.lh-lg {
    line-height: 1.75;
}
.lh-xl {
    line-height: 2;
}
.lh-xxl {
    line-height: 2.1;
}

// Background Color
.bg-black {
    background: #000;
}
.bg-primary {
    background: $primary;
}
.bg-secondary {
    background: $secondary;
}
.bg-info {
    background: $info;
}
.bg-product-1 {
  background: $product-1;
}
.bg-product-2 {
  background: $product-2;
}

// Border
.border {
    border: 1px solid #000;

    &-top {
        border-top: 1px solid #000;
    }
    &-bottom {
        border-bottom: 1px solid #000;
    }
    &-left {
        border-bottom: 1px solid #000;
    }
    &-2 {
        border-width: 2px;
    }
    &-white {
        border-color: white;
    }
    &-gray-200 {
      border-color: $gray-200;
  }
    &-gray-400 {
        border-color: $gray-400;
    }
	&-rounded-sm {
		border-radius: 0.25rem; // 4
	}
	&-rounded-top {
		border-radius: 0.25rem 0.25rem 0 0; // 4
	}
}

// Layout
.h-100 {
    height: 100vh;
}
.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}
.w-33 {
  width: 33.33%;
}
// Shadow
.shadow {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.29);
}

// Opacity
.opacity-70 {
    opacity: 70%;
}

// Image
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-cover-auto {
  width: 100%;
  height: auto;
  object-fit: cover;
}