// Color
$primary: #650300;
$secondary: #AA0601;
$info: #FBF2F2;
$black: #000000;
$gray-100: #212529;
$gray-200: #555555;
$gray-300: #707070; 
$gray-400: #DEE2E6; 
$gray-500: #DCDCDC;
$gray-600: #F2F2F2;
$product-1: #5F3E2D;
$product-2: #B75929;

// Spacer
$spacer: 1rem;
$spacers: (
  "1":	$spacer * 0.25,		// 4
  "2":	$spacer * 0.5,		// 8
  "3":	$spacer * 0.75,		// 12
  "4":	$spacer * 0.875,	// 14
  "5":	$spacer,			// 16
  "6":	$spacer * 1.25,		// 20
  "7":	$spacer * 1.5,		// 24
  "8":	$spacer * 1.75,		// 28
  "9":	$spacer * 1.875,	// 30
  "10":	$spacer * 2,		// 32
  "11":	$spacer * 2.25,		// 36
  "12":	$spacer * 2.5,		// 40
  "13":	$spacer * 2.75,		// 44
  "14":	$spacer * 3,		// 48
  "15":	$spacer * 3.5,		// 56
  "16":	$spacer * 3.75,		// 60
  "17":	$spacer * 4,		// 64
  "18":	$spacer * 4.25,		// 68
  "19":	$spacer * 4.5,		// 72
  "20":	$spacer * 5,		// 80
  "21":	$spacer * 5.5,		// 88
  "22":	$spacer * 9,		// 144
);

// Font Family
$font-roboto: 'Roboto', sans-serif;
$font-noto: 'Noto Sans TC', sans-serif;

// Font Size
$font-size-base: 1rem; // 16

$fs-1:	$font-size-base * 0.75;		// 12
$fs-2:	$font-size-base * 0.875;	// 14
$fs-3:	$font-size-base;			// 16
$fs-4:	$font-size-base * 1.125;	// 18
$fs-5:	$font-size-base * 1.25;		// 20
$fs-6:	$font-size-base * 1.5;		// 24
$fs-7:	$font-size-base * 1.75;		// 28
$fs-8:	$font-size-base * 2;		// 32
$fs-9:	$font-size-base * 2.25;		// 36
$fs-10:	$font-size-base * 3;		// 48
$fs-11:	$font-size-base * 4;		// 64
$fs-12:	$font-size-base * 4.5;		// 72

// For CSS Loop
$font-sizes: (
  "1": $fs-1,
  "2": $fs-2,
  "3": $fs-3,
  "4": $fs-4,
  "5": $fs-5,
  "6": $fs-6,
  "7": $fs-7,
  "8": $fs-8,
  "9": $fs-9,
  "10": $fs-10,
  "11": $fs-11,
  "12": $fs-12,
);

$fs-30: 100px;