@charset "UTF-8";
/* Meyerweb ------------------------------------- */
/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* rwd img css------------------------------ */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

/* 全域 border box---------------------------------------------------- */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Spaceing ------------------------*/
.mt-1 {
  margin-top: 0.25rem; }

.mb-1 {
  margin-bottom: 0.25rem; }

.ml-1 {
  margin-left: 0.25rem; }

.mr-1 {
  margin-right: 0.25rem; }

.pt-1 {
  padding-top: 0.25rem; }

.pb-1 {
  padding-bottom: 0.25rem; }

.pl-1 {
  padding-left: 0.25rem; }

.pr-1 {
  padding-right: 0.25rem; }

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.mt-2 {
  margin-top: 0.5rem; }

.mb-2 {
  margin-bottom: 0.5rem; }

.ml-2 {
  margin-left: 0.5rem; }

.mr-2 {
  margin-right: 0.5rem; }

.pt-2 {
  padding-top: 0.5rem; }

.pb-2 {
  padding-bottom: 0.5rem; }

.pl-2 {
  padding-left: 0.5rem; }

.pr-2 {
  padding-right: 0.5rem; }

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.mt-3 {
  margin-top: 0.75rem; }

.mb-3 {
  margin-bottom: 0.75rem; }

.ml-3 {
  margin-left: 0.75rem; }

.mr-3 {
  margin-right: 0.75rem; }

.pt-3 {
  padding-top: 0.75rem; }

.pb-3 {
  padding-bottom: 0.75rem; }

.pl-3 {
  padding-left: 0.75rem; }

.pr-3 {
  padding-right: 0.75rem; }

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.mt-4 {
  margin-top: 0.875rem; }

.mb-4 {
  margin-bottom: 0.875rem; }

.ml-4 {
  margin-left: 0.875rem; }

.mr-4 {
  margin-right: 0.875rem; }

.pt-4 {
  padding-top: 0.875rem; }

.pb-4 {
  padding-bottom: 0.875rem; }

.pl-4 {
  padding-left: 0.875rem; }

.pr-4 {
  padding-right: 0.875rem; }

.py-4 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem; }

.px-4 {
  padding-left: 0.875rem;
  padding-right: 0.875rem; }

.mt-5 {
  margin-top: 1rem; }

.mb-5 {
  margin-bottom: 1rem; }

.ml-5 {
  margin-left: 1rem; }

.mr-5 {
  margin-right: 1rem; }

.pt-5 {
  padding-top: 1rem; }

.pb-5 {
  padding-bottom: 1rem; }

.pl-5 {
  padding-left: 1rem; }

.pr-5 {
  padding-right: 1rem; }

.py-5 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.px-5 {
  padding-left: 1rem;
  padding-right: 1rem; }

.mt-6 {
  margin-top: 1.25rem; }

.mb-6 {
  margin-bottom: 1.25rem; }

.ml-6 {
  margin-left: 1.25rem; }

.mr-6 {
  margin-right: 1.25rem; }

.pt-6 {
  padding-top: 1.25rem; }

.pb-6 {
  padding-bottom: 1.25rem; }

.pl-6 {
  padding-left: 1.25rem; }

.pr-6 {
  padding-right: 1.25rem; }

.py-6 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

.px-6 {
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

.mt-7 {
  margin-top: 1.5rem; }

.mb-7 {
  margin-bottom: 1.5rem; }

.ml-7 {
  margin-left: 1.5rem; }

.mr-7 {
  margin-right: 1.5rem; }

.pt-7 {
  padding-top: 1.5rem; }

.pb-7 {
  padding-bottom: 1.5rem; }

.pl-7 {
  padding-left: 1.5rem; }

.pr-7 {
  padding-right: 1.5rem; }

.py-7 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.px-7 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.mt-8 {
  margin-top: 1.75rem; }

.mb-8 {
  margin-bottom: 1.75rem; }

.ml-8 {
  margin-left: 1.75rem; }

.mr-8 {
  margin-right: 1.75rem; }

.pt-8 {
  padding-top: 1.75rem; }

.pb-8 {
  padding-bottom: 1.75rem; }

.pl-8 {
  padding-left: 1.75rem; }

.pr-8 {
  padding-right: 1.75rem; }

.py-8 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem; }

.px-8 {
  padding-left: 1.75rem;
  padding-right: 1.75rem; }

.mt-9 {
  margin-top: 1.875rem; }

.mb-9 {
  margin-bottom: 1.875rem; }

.ml-9 {
  margin-left: 1.875rem; }

.mr-9 {
  margin-right: 1.875rem; }

.pt-9 {
  padding-top: 1.875rem; }

.pb-9 {
  padding-bottom: 1.875rem; }

.pl-9 {
  padding-left: 1.875rem; }

.pr-9 {
  padding-right: 1.875rem; }

.py-9 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem; }

.px-9 {
  padding-left: 1.875rem;
  padding-right: 1.875rem; }

.mt-10 {
  margin-top: 2rem; }

.mb-10 {
  margin-bottom: 2rem; }

.ml-10 {
  margin-left: 2rem; }

.mr-10 {
  margin-right: 2rem; }

.pt-10 {
  padding-top: 2rem; }

.pb-10 {
  padding-bottom: 2rem; }

.pl-10 {
  padding-left: 2rem; }

.pr-10 {
  padding-right: 2rem; }

.py-10 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.px-10 {
  padding-left: 2rem;
  padding-right: 2rem; }

.mt-11 {
  margin-top: 2.25rem; }

.mb-11 {
  margin-bottom: 2.25rem; }

.ml-11 {
  margin-left: 2.25rem; }

.mr-11 {
  margin-right: 2.25rem; }

.pt-11 {
  padding-top: 2.25rem; }

.pb-11 {
  padding-bottom: 2.25rem; }

.pl-11 {
  padding-left: 2.25rem; }

.pr-11 {
  padding-right: 2.25rem; }

.py-11 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem; }

.px-11 {
  padding-left: 2.25rem;
  padding-right: 2.25rem; }

.mt-12 {
  margin-top: 2.5rem; }

.mb-12 {
  margin-bottom: 2.5rem; }

.ml-12 {
  margin-left: 2.5rem; }

.mr-12 {
  margin-right: 2.5rem; }

.pt-12 {
  padding-top: 2.5rem; }

.pb-12 {
  padding-bottom: 2.5rem; }

.pl-12 {
  padding-left: 2.5rem; }

.pr-12 {
  padding-right: 2.5rem; }

.py-12 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.px-12 {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

.mt-13 {
  margin-top: 2.75rem; }

.mb-13 {
  margin-bottom: 2.75rem; }

.ml-13 {
  margin-left: 2.75rem; }

.mr-13 {
  margin-right: 2.75rem; }

.pt-13 {
  padding-top: 2.75rem; }

.pb-13 {
  padding-bottom: 2.75rem; }

.pl-13 {
  padding-left: 2.75rem; }

.pr-13 {
  padding-right: 2.75rem; }

.py-13 {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem; }

.px-13 {
  padding-left: 2.75rem;
  padding-right: 2.75rem; }

.mt-14 {
  margin-top: 3rem; }

.mb-14 {
  margin-bottom: 3rem; }

.ml-14 {
  margin-left: 3rem; }

.mr-14 {
  margin-right: 3rem; }

.pt-14 {
  padding-top: 3rem; }

.pb-14 {
  padding-bottom: 3rem; }

.pl-14 {
  padding-left: 3rem; }

.pr-14 {
  padding-right: 3rem; }

.py-14 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.px-14 {
  padding-left: 3rem;
  padding-right: 3rem; }

.mt-15 {
  margin-top: 3.5rem; }

.mb-15 {
  margin-bottom: 3.5rem; }

.ml-15 {
  margin-left: 3.5rem; }

.mr-15 {
  margin-right: 3.5rem; }

.pt-15 {
  padding-top: 3.5rem; }

.pb-15 {
  padding-bottom: 3.5rem; }

.pl-15 {
  padding-left: 3.5rem; }

.pr-15 {
  padding-right: 3.5rem; }

.py-15 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem; }

.px-15 {
  padding-left: 3.5rem;
  padding-right: 3.5rem; }

.mt-16 {
  margin-top: 3.75rem; }

.mb-16 {
  margin-bottom: 3.75rem; }

.ml-16 {
  margin-left: 3.75rem; }

.mr-16 {
  margin-right: 3.75rem; }

.pt-16 {
  padding-top: 3.75rem; }

.pb-16 {
  padding-bottom: 3.75rem; }

.pl-16 {
  padding-left: 3.75rem; }

.pr-16 {
  padding-right: 3.75rem; }

.py-16 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem; }

.px-16 {
  padding-left: 3.75rem;
  padding-right: 3.75rem; }

.mt-17 {
  margin-top: 4rem; }

.mb-17 {
  margin-bottom: 4rem; }

.ml-17 {
  margin-left: 4rem; }

.mr-17 {
  margin-right: 4rem; }

.pt-17 {
  padding-top: 4rem; }

.pb-17 {
  padding-bottom: 4rem; }

.pl-17 {
  padding-left: 4rem; }

.pr-17 {
  padding-right: 4rem; }

.py-17 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.px-17 {
  padding-left: 4rem;
  padding-right: 4rem; }

.mt-18 {
  margin-top: 4.25rem; }

.mb-18 {
  margin-bottom: 4.25rem; }

.ml-18 {
  margin-left: 4.25rem; }

.mr-18 {
  margin-right: 4.25rem; }

.pt-18 {
  padding-top: 4.25rem; }

.pb-18 {
  padding-bottom: 4.25rem; }

.pl-18 {
  padding-left: 4.25rem; }

.pr-18 {
  padding-right: 4.25rem; }

.py-18 {
  padding-top: 4.25rem;
  padding-bottom: 4.25rem; }

.px-18 {
  padding-left: 4.25rem;
  padding-right: 4.25rem; }

.mt-19 {
  margin-top: 4.5rem; }

.mb-19 {
  margin-bottom: 4.5rem; }

.ml-19 {
  margin-left: 4.5rem; }

.mr-19 {
  margin-right: 4.5rem; }

.pt-19 {
  padding-top: 4.5rem; }

.pb-19 {
  padding-bottom: 4.5rem; }

.pl-19 {
  padding-left: 4.5rem; }

.pr-19 {
  padding-right: 4.5rem; }

.py-19 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }

.px-19 {
  padding-left: 4.5rem;
  padding-right: 4.5rem; }

.mt-20 {
  margin-top: 5rem; }

.mb-20 {
  margin-bottom: 5rem; }

.ml-20 {
  margin-left: 5rem; }

.mr-20 {
  margin-right: 5rem; }

.pt-20 {
  padding-top: 5rem; }

.pb-20 {
  padding-bottom: 5rem; }

.pl-20 {
  padding-left: 5rem; }

.pr-20 {
  padding-right: 5rem; }

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem; }

.mt-21 {
  margin-top: 5.5rem; }

.mb-21 {
  margin-bottom: 5.5rem; }

.ml-21 {
  margin-left: 5.5rem; }

.mr-21 {
  margin-right: 5.5rem; }

.pt-21 {
  padding-top: 5.5rem; }

.pb-21 {
  padding-bottom: 5.5rem; }

.pl-21 {
  padding-left: 5.5rem; }

.pr-21 {
  padding-right: 5.5rem; }

.py-21 {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem; }

.px-21 {
  padding-left: 5.5rem;
  padding-right: 5.5rem; }

.mt-22 {
  margin-top: 9rem; }

.mb-22 {
  margin-bottom: 9rem; }

.ml-22 {
  margin-left: 9rem; }

.mr-22 {
  margin-right: 9rem; }

.pt-22 {
  padding-top: 9rem; }

.pb-22 {
  padding-bottom: 9rem; }

.pl-22 {
  padding-left: 9rem; }

.pr-22 {
  padding-right: 9rem; }

.py-22 {
  padding-top: 9rem;
  padding-bottom: 9rem; }

.px-22 {
  padding-left: 9rem;
  padding-right: 9rem; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-block {
  display: block; }

.d-inline-block {
  display: inline-block; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.fd-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.fw-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.text-white {
  color: white; }

.text-primary {
  color: #650300; }

.text-secondary {
  color: #AA0601; }

.text-info {
  color: #FBF2F2; }

.text-black {
  color: #000000; }

.text-gray-100 {
  color: #212529; }

.text-gray-200 {
  color: #555555; }

.text-gray-300 {
  color: #707070; }

.text-gray-400 {
  color: #DEE2E6; }

.text-gray-500 {
  color: #DCDCDC; }

.text-gray-600 {
  color: #F2F2F2; }

.text-muted {
  opacity: 20%; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-italic {
  font-style: italic; }

.text-justify {
  text-align: justify; }

.text-uppercase {
  text-transform: uppercase; }

.fs-1 {
  font-size: 0.75rem; }

.fs-2 {
  font-size: 0.875rem; }

.fs-3 {
  font-size: 1rem; }

.fs-4 {
  font-size: 1.125rem; }

.fs-5 {
  font-size: 1.25rem; }

.fs-6 {
  font-size: 1.5rem; }

.fs-7 {
  font-size: 1.75rem; }

.fs-8 {
  font-size: 2rem; }

.fs-9 {
  font-size: 2.25rem; }

.fs-10 {
  font-size: 3rem; }

.fs-11 {
  font-size: 4rem; }

.fs-12 {
  font-size: 4.5rem; }

.fw-medium {
  font-weight: 500; }

.fw-bold {
  font-weight: 700; }

.fw-black {
  font-weight: 900; }

.lh-sm {
  line-height: 1; }

.lh-md {
  line-height: 1.5; }

.lh-lg {
  line-height: 1.75; }

.lh-xl {
  line-height: 2; }

.lh-xxl {
  line-height: 2.1; }

.bg-black {
  background: #000; }

.bg-primary {
  background: #650300; }

.bg-secondary {
  background: #AA0601; }

.bg-info {
  background: #FBF2F2; }

.bg-product-1 {
  background: #5F3E2D; }

.bg-product-2 {
  background: #B75929; }

.border {
  border: 1px solid #000; }
  .border-top {
    border-top: 1px solid #000; }
  .border-bottom {
    border-bottom: 1px solid #000; }
  .border-left {
    border-bottom: 1px solid #000; }
  .border-2 {
    border-width: 2px; }
  .border-white {
    border-color: white; }
  .border-gray-200 {
    border-color: #555555; }
  .border-gray-400 {
    border-color: #DEE2E6; }
  .border-rounded-sm {
    border-radius: 0.25rem; }
  .border-rounded-top {
    border-radius: 0.25rem 0.25rem 0 0; }

.h-100 {
  height: 100vh; }

.w-100 {
  width: 100%; }

.w-50 {
  width: 50%; }

.w-33 {
  width: 33.33%; }

.shadow {
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.29); }

.opacity-70 {
  opacity: 70%; }

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.img-cover-auto {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; }

.container {
  width: 69.375rem;
  padding: 0;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      width: 100%;
      padding: 0 2.5rem; } }
  @media (max-width: 767px) {
    .container {
      padding: 0 1rem; } }

.container-sm {
  width: 45.625rem;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container-sm {
      width: 65.4%; } }
  @media (max-width: 767px) {
    .container-sm {
      width: 100%; } }

.container-padding {
  padding-top: 3.75rem;
  padding-bottom: 5rem; }
  @media (max-width: 992px) {
    .container-padding {
      padding-top: 2.5rem;
      padding-bottom: 3.5rem; } }
  @media (max-width: 767px) {
    .container-padding {
      padding-top: 2rem;
      padding-bottom: 2.5rem; } }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-3 {
  width: calc((100% - 30px * 3 + 15px * 2) / 4);
  padding: 0 15px; }

.col-4 {
  width: calc((100% - 30px * 2 + 15px * 2) / 3);
  padding: 0 15px; }

.col-6 {
  width: calc((100% - 30px * 1 + 15px * 2) / 2);
  padding: 0 15px; }

@media (max-width: 992px) {
  .col-md-6 {
    width: calc((100% - 30px + 15px *2) / 2);
    padding: 0 15px; } }

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%; } }

/* Base ---------------------------------------------------- */
body {
  font-family: "Roboto", sans-serif, "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #650300; }

a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
  color: white; }
  a:hover {
    color: #e6e6e6; }

.h2 {
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 700; }
  @media (max-width: 992px) {
    .h2 {
      font-size: 3rem; } }
  @media (max-width: 767px) {
    .h2 {
      font-size: 2rem; } }

.h3 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700; }
  @media (max-width: 992px) {
    .h3 {
      font-size: 2rem; } }
  @media (max-width: 767px) {
    .h3 {
      font-size: 1.5rem; } }

.h4 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 2.5rem; }
  @media (max-width: 992px) {
    .h4 {
      font-size: 2rem;
      margin-bottom: 2rem; } }
  @media (max-width: 767px) {
    .h4 {
      font-size: 1.25rem;
      line-height: 2.4;
      margin-bottom: 1.25rem; } }

.h4-margin-sm {
  margin-bottom: 1.5rem; }
  @media (max-width: 992px) {
    .h4-margin-sm {
      margin-bottom: 1.5rem; } }
  @media (max-width: 767px) {
    .h4-margin-sm {
      margin-bottom: 1.25rem; } }

.h5 {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;
  font-weight: 400; }
  @media (max-width: 992px) {
    .h5 {
      font-size: 1.5rem;
      margin-bottom: 2rem; } }
  @media (max-width: 767px) {
    .h5 {
      font-size: 1rem;
      line-height: 2.25;
      margin-bottom: 1.25rem; } }

.h6 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700; }

.header {
  padding: 0 5.5rem; }
  @media (max-width: 992px) {
    .header {
      padding: 0 2.5rem; } }
  @media (max-width: 767px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; } }

.logo a {
  display: block;
  width: 5rem;
  height: 3.04rem;
  background: url(/assets/images/logo.png) center;
  background-size: cover;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }
  @media (max-width: 767px) {
    .logo a {
      width: 3rem;
      height: 1.83rem;
      margin: 0.625rem 0; } }

.menu {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 767px) {
    .menu {
      width: 100%; } }

@media (max-width: 767px) {
  .menu__item {
    width: 50%; } }

.menu__item a {
  display: block;
  padding: 2.5rem 2rem; }
  @media (max-width: 992px) {
    .menu__item a {
      padding: 2.5rem 1.25rem; } }
  @media (max-width: 767px) {
    .menu__item a {
      padding: 0.5rem;
      border: 1px solid white;
      margin-bottom: -1px; } }

.menu__item:last-child a {
  padding: 2.5rem 0 2.5rem 2rem; }
  @media (max-width: 992px) {
    .menu__item:last-child a {
      padding: 2.5rem 0 2.5rem 1.25rem; } }
  @media (max-width: 767px) {
    .menu__item:last-child a {
      padding: 0.5rem; } }

.footer {
  padding: 2rem 0 2.5rem 0; }
  @media (max-width: 992px) {
    .footer {
      padding: 2rem 0; } }
  @media (max-width: 767px) {
    .footer {
      padding: 1.5rem 0; } }

.footerInfo {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.25rem; }
  @media (max-width: 992px) {
    .footerInfo {
      margin-bottom: 1rem; } }
  @media (max-width: 767px) {
    .footerInfo {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }

@media (max-width: 767px) {
  .footerMenu {
    display: none; } }

.footerMenu__item {
  margin-right: 3rem; }
  @media (max-width: 992px) {
    .footerMenu__item {
      margin-right: 2.5rem; } }
  .footerMenu__item a {
    line-height: 3;
    display: block; }

.sns__item {
  font-size: 3rem;
  line-height: 1;
  margin-right: 2rem; }
  .sns__item:last-child {
    margin-right: 0; }
  @media (max-width: 992px) {
    .sns__item {
      font-size: 1.5rem;
      margin-right: 1.5rem; } }

.footerContact {
  margin-bottom: 0.5rem; }
  @media (max-width: 767px) {
    .footerContact {
      margin-top: -2.5rem; } }

.footerContact__item {
  font-size: 2.25rem;
  margin-bottom: 1rem; }
  @media (max-width: 992px) {
    .footerContact__item {
      font-size: 1.25rem;
      margin-bottom: 0.75rem; } }
  @media (max-width: 767px) {
    .footerContact__item {
      font-size: 1rem;
      margin-bottom: 0.375rem; } }
  .footerContact__item img {
    width: 2.25rem;
    height: 2.25rem;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 1.25rem; }
    @media (max-width: 992px) {
      .footerContact__item img {
        width: 1.125rem;
        height: 1.125rem;
        margin-right: 0.75rem; } }
    @media (max-width: 767px) {
      .footerContact__item img {
        width: 1rem;
        height: 1rem;
        margin-right: 0.425rem; } }

.copyright {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem; }
  @media (max-width: 992px) {
    .copyright {
      padding-top: 1.5rem; } }
  @media (max-width: 767px) {
    .copyright {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
      padding-top: 1rem;
      font-size: 0.875rem; } }

@media (max-width: 767px) {
  .policy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; } }

.policy__item a {
  display: block;
  padding: 0 0.75rem; }
  @media (max-width: 767px) {
    .policy__item a {
      padding: 0.5rem 0 0 0; } }

.policy__item:last-child a {
  padding: 0 0 0 0.75rem; }
  @media (max-width: 767px) {
    .policy__item:last-child a {
      padding: 0.5rem 0 0 0; } }

.btn {
  padding: 1rem 9rem;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
  .btn-primary {
    background: #AA0601; }
    .btn-primary:hover {
      background: #650300;
      color: white; }
  @media (max-width: 992px) {
    .btn {
      padding: 0.625rem 4.75rem; } }
  @media (max-width: 767px) {
    .btn {
      padding: 0.5rem 3.5rem; } }

.card__item {
  padding: 0 -15px; }
  @media (max-width: 992px) {
    .card__item {
      margin-bottom: 2rem !important; }
      .card__item:last-child, .card__item:nth-last-child(2) {
        margin-bottom: 0; } }
  @media (max-width: 767px) {
    .card__item {
      margin-bottom: 1rem; }
      .card__item:nth-last-child(2) {
        margin-bottom: 1rem; }
      .card__item:last-child {
        margin-bottom: 0; } }

.card__body {
  padding: 1rem 1rem;
  height: 12.75rem;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
  @media (max-width: 992px) {
    .card__body {
      padding: 1rem 1.5rem; } }
  .card__body:hover {
    color: black;
    background: #FBF2F2; }

.productCard__body {
  font-size: 1.5rem;
  line-height: 1.5; }
  @media (max-width: 992px) {
    .productCard__body {
      line-height: 1.66; } }
  @media (max-width: 767px) {
    .productCard__body {
      font-size: 1rem;
      line-height: 1.875; } }

.productCard__item {
  margin-bottom: 6.5rem; }
  @media (max-width: 992px) {
    .productCard__item {
      margin-bottom: 4.5rem; } }
  @media (max-width: 767px) {
    .productCard__item {
      margin-bottom: 2rem; } }

.productCard__color {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem; }
  @media (max-width: 767px) {
    .productCard__color {
      width: 1rem;
      height: 1rem;
      margin-right: 0.25rem; } }

.productCard__img {
  width: 100%;
  height: 14rem;
  -o-object-fit: cover;
     object-fit: cover; }
  @media (max-width: 992px) {
    .productCard__img {
      height: 10.25rem; } }
  @media (max-width: 767px) {
    .productCard__img {
      height: 10.375rem; } }

.form__label {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  display: block; }

.form__input {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  font-size: 0.875rem;
  color: black;
  background-color: transparent; }
  @media (max-width: 992px) {
    .form__input {
      padding: 0.5rem 0.75rem;
      margin-bottom: 0.5rem; } }

.form__textarea {
  height: 6.25rem; }

.form__privacy {
  margin-bottom: 2.5rem; }
  @media (max-width: 992px) {
    .form__privacy {
      margin-bottom: 1.25rem; } }

.pagination {
  margin-top: -0.5rem;
  margin-bottom: 10rem; }
  @media (max-width: 992px) {
    .pagination {
      margin-bottom: 6rem; } }
  @media (max-width: 767px) {
    .pagination {
      margin-top: 0.5rem;
      margin-bottom: 3.5rem; } }

.pagination__item:not(:first-child) {
  margin-left: -1px; }

.pagination__link {
  padding: 0.75rem 1rem;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
  @media (max-width: 767px) {
    .pagination__link {
      padding: 0.75rem 0.876rem; } }
  .pagination__link:hover {
    color: #555555;
    background: #F2F2F2; }
  .pagination__link.active {
    color: white;
    background: #000; }

.pagination__link--sm {
  padding: 0.75rem; }

/* Index ------------------------ */
.heroBanner {
  background: url(/assets/images/banner.png) no-repeat center center;
  background-size: cover;
  height: 52.5rem; }
  @media (max-width: 992px) {
    .heroBanner {
      height: 24.625rem; } }

.slogan {
  font-size: 2.25rem;
  line-height: 1.5; }
  @media (max-width: 992px) {
    .slogan {
      font-size: 1.25rem; } }
  @media (max-width: 767px) {
    .slogan {
      font-size: 1rem;
      line-height: 1.875; } }

.feature {
  padding-top: 3.75rem; }
  @media (max-width: 992px) {
    .feature {
      padding-top: 2.5rem; } }
  @media (max-width: 767px) {
    .feature {
      padding-top: 2rem; } }
  .feature .h3 {
    margin-bottom: 3rem; }
    @media (max-width: 992px) {
      .feature .h3 {
        margin-bottom: 2.5rem; } }
    @media (max-width: 767px) {
      .feature .h3 {
        padding-top: 1.75rem; } }

.feature__item {
  margin-bottom: 5rem; }
  @media (max-width: 992px) {
    .feature__item {
      padding: 0 3.8rem;
      margin-bottom: 3.5rem; } }
  @media (max-width: 767px) {
    .feature__item {
      padding: 0 2.75rem;
      margin-bottom: 2.75rem; } }

.feature__icon {
  font-size: 5.25rem; }

.classic__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem; }
  @media (max-width: 992px) {
    .classic__item {
      margin-bottom: 0.5rem; } }
  @media (max-width: 767px) {
    .classic__item {
      width: 100%;
      position: relative; } }

.classic__list li:nth-child(2) a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  @media (max-width: 992px) {
    .classic__list li:nth-child(2) a {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.classic__img {
  width: 39.6875rem; }
  @media (max-width: 992px) {
    .classic__img {
      width: 56.58%; } }
  @media (max-width: 767px) {
    .classic__img {
      width: 100%; } }

.classic__feature {
  width: 27.8125rem;
  padding-left: 2rem;
  font-size: 3rem; }
  @media (max-width: 992px) {
    .classic__feature {
      width: 43.31%;
      font-size: 1.75rem; } }
  @media (max-width: 767px) {
    .classic__feature {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.classic__icon {
  font-size: 2.75rem;
  margin-right: 0.625rem; }
  @media (max-width: 992px) {
    .classic__icon {
      font-size: 2.25rem; } }

.product {
  background: url(/assets/images/bg.png) no-repeat center center;
  background-size: cover; }

.product__item {
  position: relative;
  background: white; }
  .product__item img {
    opacity: 0.5; }
  @media (max-width: 767px) {
    .product__item:first-child {
      margin-bottom: 1rem; } }

.product__item__name {
  font-size: 4.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  @media (max-width: 992px) {
    .product__item__name {
      font-size: 2rem; } }

.contact__text {
  margin-bottom: 1.25rem; }
  @media (max-width: 992px) {
    .contact__text {
      margin-bottom: 1rem; } }
  @media (max-width: 767px) {
    .contact__text {
      margin-bottom: 0.5rem; } }

.category__item {
  margin-left: 0px; }
  .category__item:not(:first-child) {
    margin-left: -1px; }
  .category__item a.active, .category__item a:hover {
    color: #333333;
    border-bottom: 8px #AA0601 solid; }
    @media (max-width: 767px) {
      .category__item a.active, .category__item a:hover {
        border-bottom: 4px #AA0601 solid; } }

.category__link {
  font-size: 2rem;
  line-height: 3; }
  @media (max-width: 992px) {
    .category__link {
      font-size: 1.5rem;
      line-height: 2.5; } }
  @media (max-width: 767px) {
    .category__link {
      font-size: 0.875rem;
      line-height: 2.14; } }

.category__icon {
  font-size: 2.75rem;
  margin-right: 0.625rem; }
  @media (max-width: 992px) {
    .category__icon {
      font-size: 1.75rem; } }
  @media (max-width: 767px) {
    .category__icon {
      font-size: 0.875rem;
      margin-right: 0.168rem; } }

@media (max-width: 767px) {
  .productBanner__item {
    height: 9.25rem; } }

.title_en {
  font-size: 2.625rem;
  margin-top: 5rem;
  font-weight: 500; }
  @media (max-width: 992px) {
    .title_en {
      font-size: 2rem;
      margin-top: 3.5rem; } }
  @media (max-width: 767px) {
    .title_en {
      font-size: 1.25rem;
      margin-top: 2rem;
      line-height: 1.7; } }

/*# sourceMappingURL=all.css.map */
